@import '/src/assets/theme/color.less';
.featureSection {
  position: relative;
  top: -102px;
  background: @bg-7;
  color: white;
  padding-bottom: 240px;
}
.featureSectionTop {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}
.featureTitle {
  color: white;
  font-family: 'BG';
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 86.4px */
  letter-spacing: -2.16px;  
  // width: 1280px;
}
.miniIcon {
  flex: none;
  width: 28px;
  height: 28px;
}
.largeIcon {
  flex: none;
  width: 400px;
  height: 320px;
}
.introContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid #414142;
  background: #1F1F21;
  padding: 48px 64px;
  // width: 1280px;
  .introContent {
    color: white;
    /* Subtitle */
    font-family: 'BG';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
  }
}
.introDataContainer {
  margin-top: 16px;
  gap: 12px;
}
.introDataContainer:nth-child(1) {
  margin-top: 32px;
}
.introTitle {
  color: white;

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: -1.44px;
}
.featureSubTitle {
  color: white;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-top: 160px;
  margin-bottom: 64px !important;
  line-height: 120%; /* 57.6px */
  letter-spacing: -1.44px;
}
.dappIcon {
  flex: 1;
  height: 100px;
}
.dappIconSvg {
  &:hover {
    svg {
      path {
        fill: white;
      }
    }
  }
}
.forestIconStyle {
  &:hover {
    svg {
      path {
        fill: #1B76E2;
      }
    }
  }
}
.etransferIconStyle {
  &:hover{
    svg {
      g g g:nth-of-type(1){
        path {
          fill: #285EFF;
        }
      }
      g g g:nth-of-type(2){
        path {
          fill: white;
        }
      }
    }
  }
}
.tmrwDaoIconStyle {
  &:hover {
    svg {
      path {
        fill: #5D49F6;
      }
    }
  }
}
.aeFinderIconStyle {
  &:hover{
    svg {
      g g g path {
        fill: white;
      }
      g g g path:nth-of-type(1){
        fill: #195ED8;
      }
      g g g path:nth-of-type(6){
        fill: #195ED8;
      }
    }
  }
}
// .aelfScanIconStyle {
//   &:hover{
//     svg {
//       path {
//         fill: white;
//       }
//       path:nth-of-type(1){
//         fill: #195ED8;
//       }
//       path:nth-of-type(2){
//         fill: #195ED8;
//       }
//     }
//   }
// }
// .etransferIconStyle:hover #Vector path {
//   fill: #285EFF !important;
// }

// .etransferIconStyle:hover #Union path {
//   fill: white !important;
// }